@page
@model UploadModel
@{
    ViewData["Title"] = "Upload";
    <link href="~/css/upload.css" rel="stylesheet">
}
<div class="upload-all-content">

    <div class="upload-lhs">

<h1>@ViewData["Title"]</h1>
        <p></p>
<img src="/images/file-upload.svg">
        <input type="file"
            id="avatar" name="avatar"
            accept="image/png, image/jpeg">
    </div>
    <div class="upload-rhs">
<p>rhs</p>

    </div>

</div>